<p id="notice"><%= notice %></p>

<p>
  <b>Last:</b>
  <%= @person.Last %>
</p>

<p>
  <b>First:</b>
  <%= @person.First %>
</p>

<p>
  <b>Pin:</b>
  <%= @person.Pin %>
</p>

<p>
  <b>Longitude:</b>
  <%= @person.Longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @person.Latitude %>
</p>

<p>
  <b>Address:</b>
  <%= @person.Address %>
</p>

<p>
  <b>City:</b>
  <%= @person.City %>
</p>

<p>
  <b>Region:</b>
  <%= @person.Region %>
</p>

<p>
  <b>State:</b>
  <%= @person.State %>
</p>

<p>
  <b>Zip:</b>
  <%= @person.Zip %>
</p>

<p>
  <b>Country:</b>
  <%= @person.Country %>
</p>

<%= link_to 'Home', people_path %>